.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 50px;
  box-shadow: 0 1px 3px -2px #000 ;
  margin-bottom: 1px;
  background: white;
}
.navlogo{
  width: 100px;
  height: 80px;
}
.navprofile{
  width: 75px;
  height: 50px;
}
@media(max-width: 800px){
  .navbar{
    padding: 15px 30px;
  }
  .navlogo{
    width: 70px;
  }
  .navprofile{
    width: 60px;
  }
}